@model Player
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <div class="card col-md-4 col-xs-6">
        <div class="card-body">
            <h5 class="card-title">@Model.UserName</h5>
            <a class="btn btn-primary" asp-controller="Player" asp-action="Detail" asp-route-id="@Model.Id" >Voir le Joueur</a>
        </div>
    </div>