<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoardGameArena</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BoardGameArena</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Part" asp-action="Index">Les Parties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Game" asp-action="Index">Les Jeux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Player" asp-action="Index">Nos Joueurs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="MyAccount">Mon Compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Logout">Deconnection</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Register">S'inscrire</a>
                        </li>

                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="error container-fluid">
        @if(!string.IsNullOrEmpty(ViewBag.error))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.error
            </div>
            
        }
    </div>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BoardGameArena - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
